/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

body {
  background: white;
  background: linear-gradient(to right, lightgrey, white, grey);
  background-image: url("background.png");
  background-attachment: fixed;
  font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3 {
  font-family: 'Krona One', sans-serif;
}